*.pyc
__pycache/

# excel 파일들 add금지
*.xlsx
*.xlsm

#주피터 노트북 conflict 요소들 add금지
*.ipynb_checkpoints
*/.ipynb_checkpoints/*

# db정보 업로드 X
instantclient_fulfill/
db/

# 민감정보인 settings.py 업로드금지
# fulfill_rest/app/settings.py