{% extends "layouts/base.html" %}

{% block title %} Maps {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header">
            KAKAO Maps
          </div>
          <div class="card-body">
            
            <!-- <input type="text" id="sample5_address" placeholder="주소"> -->
            
            <form>
              <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색"><br>
              <div id="map" style="width:400px;height:400px;margin-top:10px;display:none"></div>
              <input type="text" style="width: 400px;display:none" id="search_address" name="search_address" placeholder="주소 검색">
              <input type="text" style="width: 400px;display:none" id="specific_address" name="specific_address" placeholder="상세 주소를 입력해주세요.">
              <input id="req_date" name="req_date" type="date" style="display:none;" >
              <input id="req_time" name="req_time" type="time" style="display:none;" >
              <p><input type="submit" id="add_date_submit" name="add_date_submit" style="display:none;" value="Submit"></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    // $(document).ready(function() {
    //   // Javascript method's body can be found in assets/js/demos.js
    //   demo.initGoogleMaps();
    // });

    
  </script>

<!-- 다음주소검색 api -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e34832f9e80f0076b332dc2abfd0e743&libraries=services"></script>

<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
        };

    //지도를 미리 생성
    var map = new daum.maps.Map(mapContainer, mapOption);
    //주소-좌표 변환 객체를 생성
    var geocoder = new daum.maps.services.Geocoder();
    //마커를 미리 생성
    var marker = new daum.maps.Marker({
        position: new daum.maps.LatLng(37.537187, 127.005476),
        map: map
    });


    function sample5_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = data.address; // 최종 주소 변수

                // 주소 정보를 해당 필드에 넣는다.
                var search_address = document.getElementById("search_address")
                var specific_address = document.getElementById("specific_address")
                // 날짜 시간 입력받는 input tag
                var req_date = document.getElementById("req_date")
                var req_time = document.getElementById("req_time")
                var add_date_submit = document.getElementById("add_date_submit") 

                search_address.value = addr;
                // 주소로 상세 정보를 검색
                geocoder.addressSearch(data.address, function(results, status) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === daum.maps.services.Status.OK) {

                        var result = results[0]; //첫번째 결과의 값을 활용

                        // 해당 주소에 대한 좌표를 받아서
                        var coords = new daum.maps.LatLng(result.y, result.x);
                        // 지도를 보여준다.
                        mapContainer.style.display = "block";
                        // 상세주소 및, 날짜 시간 입력을 받는 태그 보여줌
                        search_address.style.display = "block";
                        specific_address.style.display = 'block';
                        req_date.style.display ='block';
                        req_time.style.display ='block';
                        add_date_submit.style.display = 'block';

                        map.relayout();
                        // 지도 중심을 변경한다.
                        map.setCenter(coords);
                        // 마커를 결과값으로 받은 위치로 옮긴다.
                        marker.setPosition(coords)
                    }
                });
            }
        }).open();
    }
</script>


<script type="text/javascript">
// 선언한 TextBox에 DateTimePicker 위젯을 적용한다.
$('#req_date').datetimepicker({
  language : 'ko', // 화면에 출력될 언어를 한국어로 설정한다.
  pickTime : true, // 사용자로부터 시간 선택을 허용하려면 true를 설정하거나 pickTime 옵션을 생략한다.
  // defalutDate : new Date() // 기본값으로 오늘 날짜를 입력한다. 기본값을 해제하려면 defaultDate 옵션을 생략한다.
});
</script>

{% endblock javascripts %}
