{% extends "layouts/base.html" %}

{% block title %} User Profile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-8">
        <div class="card">

          <div class="card-body">
              <div class="card-header">
                <h5 class="title">Find Parts</h5>
              </div>
              <div class="row">
                <div class="col-md-5 pr-md-1">
                  <div class="form-group">
                    <label>SUBINVENTORY</label>
                    <input class="form-control" list="datalistOptions_sub" placeholder="KR_SERV01" id="subinventory" name="subinventory">
                    <datalist id="datalistOptions_sub" name="subinventory_dl">
                      <option value="ALL"></option>
                      {% for data in datas_pose %}
                      <option value="{{data.subinventory}}">
                      {% endfor %}
                    </datalist>
                  </div>
                </div>
    

              </div>
              <div class="row">
                <div class="col-md-6 pr-md-1">
                  <div class="form-group">
                    <label>ARTICLE NUMBER</label>
                    <input class="form-control" list="datalistOptions_part" placeholder="일부 입력으로도 확인 할 수 있습니다." id="article_number" name="article_number">
                    <datalist id="datalistOptions_part" name="article_number_dl">
                      <option value="ALL"></option>
                      {% for data in datas_products %}
                      <option value="{{data.article_number}}">
                      {% endfor %}
                    </datalist>
                  </div>
                </div>
                <div class="col-md-6 pl-md-1">
                  <div class="form-group">
                    <label>FAVORITES</label>
                    <input class="form-control" list="datalistOptions_favor" id="favor_list" name="favor_list"  placeholder="Type to search...">
                    <datalist id="datalistOptions_favor" name="favor_list_dl">
                      <option value="San Francisco">
                      <option value="New York">
                      <option value="Seattle">
                      <option value="Los Angeles">
                      <option value="Chicago">
                    </datalist>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <!-- <button type="submit" class="btn btn-fill btn-primary"> Find parts </button> -->
                <input type="button"  onclick="findParts()" class="btn btn-fill btn-primary" value="Find parts"> 
              </div>
              <div class="card-header">
                <h5 class="title">Find IR ORDERS</h5>
              </div>
              <div class="row">
                <div class="col-md-6 pr-md-1">
                  <div class="form-group">
                    <label>IR ORDER NUMBER</label>
                    <input type="text" class="form-control" placeholder="'IR-SM' 은 제외하고 입력해도 조회가능합니다." id="ir_order_nm" name="ir_order_nm">
                  </div>
                </div>
                <div class="col-md-6 pl-md-1">
                  <div class="form-group">
                    <label>AVAILABLE MY ORDER LISTS</label>
                    <input class="form-control" list="datalistOptions_IR" id="myorder_list" name="myorder_list"  placeholder="모든 데이터조회 'ALL' 입력">
                    <datalist id="datalistOptions_IR" name="myorder_list_ld">
                      <option value="ALL">
                      {% for order in ir_orders %}
                      <option value="{{order.order_nm}}">
                      {% endfor %}
                    </datalist>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <input type="button" onclick="findIrParts()" class="btn btn-fill btn-primary" value=" Find Order"> 
              </div>
              <div class="card-header">
                <h5 class="title">Find SVC TOOL</h5>
              </div> 
              <div class="row">
                <div class="col-md-6 pr-md-1">
                  <div class="form-group">
                    <label>TOOL NUMBER</label>
                    <input type="text" class="form-control" placeholder=" Write here..." id="tool_nm" name="tool_nm">
                  </div>
                </div>
                <div class="col-md-6 pl-md-1">
                  <div class="form-group">
                    <label>FAVOR TOOLS</label>
                    <input class="form-control" list="datalistOptions_TOOL" id="favor_tools" name="favor_tools"  placeholder="Type to search...">
                    <datalist id="datalistOptions_TOOL" name="faver_tools_list">
                      <option value="San Francisco">
                      <option value="New York">
                      <option value="Seattle">
                      <option value="Los Angeles">
                      <option value="Chicago">
                    </datalist>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <input type="button" class="btn btn-fill btn-primary" value="Find TOOL"> 
              </div>
          </div>
        </div>
      </div>
      <!-- 입력 div 끝 -->

      <div class="col-md-4">
        <div class="card card-use끝">
          <div class="card-body">
            <p class="card-text">
              <div class="author">
                <div class="block block-one"></div>
                <div class="block block-two"></div>
                <div class="block block-three"></div>
                <div class="block block-four"></div>
                <a href="javascript:void(0)">
                  <img class="avatar" src="{{ ASSETS_ROOT }}/img/emilyz.jpg" alt="...">
                  <h5 class="title">Mike Andrew</h5>
                </a>
                <p class="description">
                  Ceo/Co-Founder
                </p>
              </div>
            </p>
            <div class="card-description">
              Do not be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </div>
          </div>
          <div class="card-footer">
            <div class="button-container">
              <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                <i class="fab fa-facebook"></i>
              </button>
              <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                <i class="fab fa-twitter"></i>
              </button>
              <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                <i class="fab fa-google-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- 선택품목 시작 -->

<div class="content" style="display:none;" id="add_part">
  <form action="{% url 'home:svc_process' %}" method="post">
    {% csrf_token %}
  <div hidden id="add_part_content">
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h4 class="card-title" id="add_part_card"><b>MY REQUEST</b></h4>
        </div>
        <div class="card-body">
          <div class="table">
            <table class="table tablesorter " id="add_part_table">
              <thead class=" text-primary">
                <tr>
                  <th data-sort="prod_group" class="text-center">
                    PART DIVISION / IR_ORDER
                  </th>
                  <th data-sort="article_number" class="text-center">
                    ARTICLE NUMBER
                  </th>
                  <th data-sort="description" class="text-center">
                    DESCRIPTION
                  </th>
                  <th data-sort="subinventory" class="text-center">
                    FROM_STOCK
                  </th>
                  <th data-sort="" class="text-center">
                    TO_STOCK
                  </th>
                  <th data-sort="quantity" class="text-center">
                    QUANTITY
                  </th>
                  <th class="text-center">
                    DELETE
                  </th>
                </tr>
              </thead>
              <tbody id="add_part_tb">
              </tbody>
            </table>
            <div class="d-flex justify-content-right">
                <input type="submit" class="btn btn-fill btn-primary" id="tempSave" value="임시저장">
                <input type="button" onclick="sample5_execDaumPostcode()" value="주소 입력하기" class="btn btn-fill btn-primary">
            </div>
          </div>
          
            <!-- 주소입력 및 카카오MAP -->
            <div class="form-group">
              <div class="form-group mb-2" style="display:none;" id="input_address">
                <div class="card-header">
                  <h4 class="card-title" id=""><b>Edit Deilvery Details</b></h4>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="search_address">주소</label>
                    <input type="text" class="form-control" id="search_address" name="search_address" placeholder="" readonly>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="specific_address">상세주소</label>
                    <input type="text" class="form-control" id="specific_address" name="specific_address" placeholder="상세주소를 작성해주세요." required>
                    <div class="invalid-feedback">상세주소는 반드시 필요합니다.</div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label for="req_date">출고요청일</label>
                    <input type="date" class="form-control" id="req_date" name="req_date" required>
                    <div class="invalid-feedback">출고요청일은 반드시 필요합니다.</div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="req_time">요청시간</label>
                    <input type="time" class="form-control" id="req_time" name="req_time" required>
                    <div class="invalid-feedback">출고요청시간은 반드시 필요합니다.</div>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="del_method">배송방법</label>
                    <select name="del_method" id="del_method" class="form-control" required>
                      <option>일반(퀵)</option>
                      <option>택배</option>
                      <option>직접수령</option>
                      <option>특수차량</option>
                      <div class="invalid-feedback">배송방법은 반드시 선택해주세요.</div>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <label for="recipient">수령인</label>
                      <input type="text" class="form-control" id="recipient" name="recipient" value="{{user.last_name}}{{user.first_name}}" required>
                      <div class="invalid-feedback">수령인은 반드시 입력해야 합니다.</div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="del_instruction">배송요청사항</label>
                      <input type="text" class="form-control" id="del_instruction" name="del_instruction" placeholder="배송요청사항을 적어주세요.">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="card-header">
                    <h4 class="card-title" id=""><b>즐겨찾기</b></h4>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="my_address_list">등록된 주소</label>
                      <select id="my_address_list" name="my_address_list" class="form-control">
                        <option></option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="card-header">
                    <h4 class="card-title" id=""><b>Deilvery Options</b></h4>
                  </div>
                  <div class="form-row">
                    <div class="custom-control custom-checkbox">
                      <div class="form-group" style="margin-right:50px;">
                        <input type="checkbox" id="checkbox_is_urgent" name="checkbox_is_urgent" class="custom-control-input">
                        <label class="custom-control-label" for="checkbox_is_urgent"><b style="color:red;">긴급여부</b></label>
                      </div>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <div class="form-group" style="margin-right:50px;">
                        <input type="checkbox" id="checkbox_is_return" name="checkbox_is_return" class="custom-control-input" disabled>
                        <label class="custom-control-label" for="checkbox_is_return">왕복여부 (파트회수) <b>추후 지원예정</b></label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="card-header">
                    <h4 class="card-title" id=""><b>KAKAO MAP</b></h4>
                  </div>
                  <div id="map" style="width:400px;height:400px;margin-top:10px;"></div>
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input type="submit" class="btn btn-fill btn-primary" id="add_date_submit" name="add_date_submit" value="출고요청">
                  </div>
                </div>
              </div>
            </div>
            <!-- 주소입력 및 카카오MAP -->
        </div>
      </div>
    </div> 
  </div>
</div>
</form>
<!-- 선택품목 끝 -->

 <!-- ir_orders 시작-->
 <div class="content" style="display:none;" id="ir_order">
  <div hidden id="ir_order_content">

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h4 class="card-title" id="ir_order_card"></h4>
        </div>
        <div class="card-body">
          <div class="table">
            <table class="table tablesorter " id="ir_order_table">
              <thead class=" text-primary">
                <tr>
                  <th data-sort="ir_order" class="text-center">
                    IR ORDER
                  </th>
                  <th data-sort="article_number" class="text-center">
                    ARTICLE NUMBER
                  </th>
                  <th data-sort="description" class="text-center">
                    DESCRIPTION
                  </th>
                  <th data-sort="subinventory" class="text-center">
                    SUBINVENTORY
                  </th>
                  <th data-sort="quantity" class="text-center">
                    QUANTITY
                  </th>
                  <th class="text-center">
                    STATE
                  </th>
                  <th class="text-center">
                    PICK
                  </th>
                </tr>
              </thead>
              <tbody id="ir_order_list_tb">
              </tbody>
            </table>
            <div class="d-flex justify-content-center">
              <button class="btn btn-fill btn-primary" id="prevButtonIR">Previous</button> 
              <button class="btn btn-fill btn-primary" id="nextButtonIR">Next</button> 
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>
<!-- ir_orders 끝 -->

  <!-- 서비스재고 table 시작-->
  <div class="content" style="display:none;" id="service_stock">
    <div hidden id="service_part_content">

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title" id="service_stock_card"></h4>
          </div>
          <div class="card-body">
            <div class="table">
              <table class="table tablesorter " id="service_parts_table">
                <thead class=" text-primary">
                  <tr>
                    <th data-sort="prod_group" class="text-center">
                      PROD GROUP
                    </th>
                    <th data-sort="article_number" class="text-center">
                      ARTICLE NUMBER
                    </th>
                    <th data-sort="description" class="text-center">
                      DESCRIPTION
                    </th>
                    <th data-sort="subinventory" class="text-center">
                      SUBINVENTORY
                    </th>
                    <th data-sort="quantity" class="text-center">
                      QUANTITY
                    </th>
                    <th class="text-center">
                      PICK
                    </th>
                  </tr>
                </thead>
                <tbody id="parts_list_tb">
                </tbody>
              </table>
              <div class="d-flex justify-content-center">
                <button class="btn btn-fill btn-primary" id="prevButton">Previous</button> 
                <button class="btn btn-fill btn-primary" id="nextButton">Next</button> 
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
  <!-- 서비스재고 table 끝 -->







  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header">
            KAKAO Maps
          </div>
          <div class="card-body">
            
            <!-- <input type="text" id="sample5_address" placeholder="주소"> -->
            

              <br>
              <!-- <div id="map" style="width:400px;height:400px;margin-top:10px;display:none"></div> -->
              

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- 다음주소검색 api -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e34832f9e80f0076b332dc2abfd0e743&libraries=services"></script>

<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
        };

    //지도를 미리 생성
    var map = new daum.maps.Map(mapContainer, mapOption);
    //주소-좌표 변환 객체를 생성
    var geocoder = new daum.maps.services.Geocoder();
    //마커를 미리 생성
    var marker = new daum.maps.Marker({
        position: new daum.maps.LatLng(37.537187, 127.005476),
        map: map
    });


    function sample5_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = data.address; // 최종 주소 변수

                // 주소 정보를 해당 필드에 넣는다.
                var input_address = document.getElementById("input_address")
                var search_address = document.getElementById("search_address")
                // var specific_address = document.getElementById("specific_address")
                // // 날짜 시간 입력받는 input tag
                // var req_date = document.getElementById("req_date")
                // var req_time = document.getElementById("req_time")
                // var add_date_submit = document.getElementById("add_date_submit") 

                search_address.value = addr;
                // 주소로 상세 정보를 검색
                geocoder.addressSearch(data.address, function(results, status) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === daum.maps.services.Status.OK) {

                        var result = results[0]; //첫번째 결과의 값을 활용

                        // 해당 주소에 대한 좌표를 받아서
                        var coords = new daum.maps.LatLng(result.y, result.x);
                        // 지도를 보여준다.
                        // mapContainer.style.display = "block";
                        // 상세주소 및, 날짜 시간 입력을 받는 태그 보여줌
                        input_address.style.display = "block";

;

                        map.relayout();
                        // 지도 중심을 변경한다.
                        map.setCenter(coords);
                        // 마커를 결과값으로 받은 위치로 옮긴다.
                        marker.setPosition(coords)
                    }
                });
            }
        }).open();
    }
</script>


<script type="text/javascript">

// 실시간 재고 데이터 받기
var data_sys = '{{ data_ts|safe }}';
var json_data_sys = JSON.parse(data_sys);
var json_ir_orders = JSON.parse('{{ json_irs|safe }}');

var ir_order_div = document.getElementById('ir_order');
var ir_hidden_div = document.getElementById('ir_order_content');
query_irs = json_ir_orders;
  // part_list 보여주기
var service_stock = document.getElementById('service_stock');
var hidden_div = document.getElementById('service_part_content');
var std_day = json_data_sys[0].std_day
query_services = json_data_sys;



str_data =JSON.stringify(query_services);
hidden_div.innerHTML = str_data;

// Find_parts 구현 onclick()
function findParts(){
  // findpart 다시 누를 때 query값으로 사라진 json데이터 다시 불러온다.
  if (service_stock.style.display == 'block') {
    service_stock.style.display = 'none';
    query_services = json_data_sys;
  }
  
  // 선택한 인벤토리 및 파트번호 찾기
  var sub_inv = document.getElementById('subinventory').value;
  var part_nm = document.getElementById('article_number').value;
  
  // 받은 argument가 'ALL' 일 경우 모든 것을 출력해줘야한다.
  let arr1 = [sub_inv, part_nm];
  
  for(i=0; i<arr1.length; i++){
    if (arr1[i] == 'ALL') {
      query_services =  query_services;
    } else {
        if (i==0) {
          query_services = query_services.filter(function(e){
        return e.subinventory === arr1[i];
    })
        } else {
          query_services = query_services.filter(function(e){
        return e.article_number === arr1[i];
    })
        }

    }
  }
  service_stock.style.display = 'block';
  // query된 값 다시 태그안에 넣어주기
  str_data =JSON.stringify(query_services);
  hidden_div.innerHTML = str_data;

  } //findPart 끝

//addirpart 시작
function findIrParts() {
  
   // findpart 다시 누를 때 query값으로 사라진 json데이터 다시 불러온다.
   if (ir_order_div.style.display == 'block') {
    ir_order_div.style.display = 'none';
    query_irs = json_ir_orders;
  }
  
  // 선택한 인벤토리 및 파트번호 찾기
  var myorder_list = document.getElementById('myorder_list').value;
  var ir_order_nm = document.getElementById('ir_order_nm').value;
  
  // myorder_list 에 만약에 값이 있다면 ir_order_nm은 진행 X
  if (myorder_list != '') {
    if (myorder_list == 'ALL') {
      query_irs = query_irs
    } else {
      query_irs = query_irs.filter(function(e){
        return e.order_nm === myorder_list;
      })
    }
  } else { // 나만의 오더를 입력하지 않은경우
    query_irs = query_irs.filter(function(e){
      return e.order_nm.includes(ir_order_nm)
    })
    
  }


  ir_order_div.style.display = 'block';
  // query된 값 다시 태그안에 넣어주기
  str_data_irs =JSON.stringify(query_irs);
  ir_hidden_div.innerHTML = str_data_irs;
}

//addpart 시작
function addIRPart(input_id) {
  //part부분
  // Select the table (well, tbody)
  var table_ap = document.querySelector('#add_part_table tbody')

  // 파트 중복 선택확인
  var children_ap = Array.from(table_ap.children)
  selected_list = [];
  selected_list_ir = [];
  selected_list_tool = [];
  children_ap.forEach(e => {

    if (e.id.includes("ir")==true) {
      selected_list_ir.push(parseInt(e.id.split("_")[3]))
    } else if(e.id.includes("tool")==true){
      selected_list_tool.push(parseInt(e.id.split("_")[3]))
    } else{
      selected_list.push(parseInt(e.id.split("_")[2]))
    }
    
  }); 
  
  input_ir_key = parseInt(input_id.split("_")[3]); //ts_key 만 추출 string type change to int type


  // 중복체크 구문 includes()
  select_is_mutiple = selected_list_ir.includes(input_ir_key)

  if (select_is_mutiple === true) {
    alert("이미 선택한 파트입니다. 중복선택 불가")
    return;
  }
  
  
  
  // 만족하는 json 행 찾기
  selected_ir_json = json_ir_orders.filter(function(e){
        return e.ir_index === input_ir_key;  // djagno로 부터 받은 최초 table에서 해당 ts_key 조회로 행값 불러오기
  });
  



  // qty가 기존최대 값을 넘는지 확인해보기
  input_qty_ir = document.getElementById('parts_qty_ir_'+input_ir_key.toString()).value;
  if (input_qty_ir > selected_ir_json[0].quantity) {
    // 받은 값이 tb 상의 값보다 클 경우 alert와 함께 addPart테이블에 추가하지 않고 함수종료
    alert('최대 요청 개수를 초과했습니다. 최대요청가능수량 : '+selected_ir_json[0].quantity.toString());
    return;
  }

  //add_part div display --> block div 보여주기
  var div_add_part = document.getElementById('add_part');
  if (div_add_part.style.display == 'none') {
    div_add_part.style.display = 'block';
  }


 
  //to_stock은 입력받기
  var f = selected_ir_json;
  // 로그인 된사람만 이용가능 -> eng일경우 본인의 trunckstock_id를 기본 value로 설정
  const trunckstock_id = "{{ user.userdetail.subinventory }}";
  subinventory_dl = document.getElementById('datalistOptions_sub').innerHTML
  subinventory_dl = `<input class="form-control" style="text-align:center;" list="datalistOptions_tosub" id="to_sub" name="to_ir_${f[0].ir_index}"  value="${trunckstock_id}" placeholder="Transfer할 Stock입력">` +
  '<datalist id="datalistOptions_tosub" name="subinventory_dl_tosub">' +
    subinventory_dl +  '</datalist>' 

  var ss_card = document.getElementById('add_part_card');

  result = `<tr id="tr_selected_ir_${f[0].ir_index}" name="tr_selected_ir_${f[0].ir_index}">
        <td class="text-center">
          ${f[0].order_nm}
          <input type="hidden" name="prod_group_${f[0].order_nm}" value="${f[0].order_nm}" >
        </td>
        <td class="text-center">
          ${f[0].article_number}
          <input type="hidden" name="article_number_ir_${f[0].ir_index}" value="${f[0].article_number}">
        </td>
        <td class="text-center">
          ${f[0].description}
          <input type="hidden" name="description" value="${f[0].description}">
        </td>
        <td class="text-center">
          ${f[0].subinventory}
          <input type="hidden" name="subinventory" value="${f[0].subinventory}">
        </td>
        <td class="text-center">
          ${subinventory_dl}
        </td>
        <td class="text-center">
          ${input_qty_ir}
          <input type="hidden" name="input_qty_ir_${f[0].ir_index}" value="${input_qty_ir}">
        </td>
        <td>
          <input type="button" value="Delete"  onClick="DeleteTr(this.id);" class="btn btn-fill btn-primary" id="parts_input_ir_${f[0].ir_index}" name="parts_input_ir_${f[0].ir_index}">  
        </td>
        </tr>`;
  table_ap.innerHTML += result;

 
  
  //part 부분끝 
}
//addpart 끝




//addpart 시작
function addPart(input_id) {
  //part부분
  // Select the table (well, tbody)
  var table_ap = document.querySelector('#add_part_table tbody')

  // 파트 중복 선택확인
  var children_ap = Array.from(table_ap.children)
  selected_list = [];
  selected_list_ir = [];
  selected_list_tool = [];
  children_ap.forEach(e => {

    if (e.id.includes("ir")==true) {
      selected_list_ir.push(parseInt(e.id.split("_")[3]))
    } else if(e.id.includes("tool")==true){
      selected_list_tool.push(parseInt(e.id.split("_")[3]))
    } else{
      selected_list.push(parseInt(e.id.split("_")[2]))
    }
    
  }); 
  
  input_ts_key = parseInt(input_id.split("_")[2]); //ts_key 만 추출 string type change to int type


  // 중복체크 구문 includes()
  select_is_mutiple = selected_list.includes(input_ts_key)

  if (select_is_mutiple === true) {
    alert("이미 선택한 파트입니다. 중복선택 불가")
    return;
  }
  
  
  
  // 만족하는 json 행 찾기
  selected_ts_json = json_data_sys.filter(function(e){
        return e.ts_key === input_ts_key;  // djagno로 부터 받은 최초 table에서 해당 ts_key 조회로 행값 불러오기
  });
  



  // qty가 기존최대 값을 넘는지 확인해보기
  input_qty_svc = document.getElementById('parts_qty_'+input_ts_key.toString()).value;
  if (input_qty_svc > selected_ts_json[0].quantity) {
    // 받은 값이 tb 상의 값보다 클 경우 alert와 함께 addPart테이블에 추가하지 않고 함수종료
    alert('최대 요청 개수를 초과했습니다. 최대요청가능수량 : '+selected_ts_json[0].quantity.toString());
    return;
  }

  //add_part div display --> block div 보여주기
  var div_add_part = document.getElementById('add_part');
  if (div_add_part.style.display == 'none') {
    div_add_part.style.display = 'block';
  }


 
  //to_stock은 입력받기
  var f = selected_ts_json;
  // 로그인 된사람만 이용가능 -> eng일경우 본인의 trunckstock_id를 기본 value로 설정
  const trunckstock_id = "{{ user.userdetail.subinventory }}";
  subinventory_dl = document.getElementById('datalistOptions_sub').innerHTML
  subinventory_dl = `<input class="form-control" style="text-align:center;" list="datalistOptions_tosub" id="to_sub" name="to_sub_${f[0].ts_key}"  value="${trunckstock_id}" placeholder="Transfer할 Stock입력">` +
  '<datalist id="datalistOptions_tosub" name="subinventory_dl_tosub">' +
    subinventory_dl +  '</datalist>' 

  var ss_card = document.getElementById('add_part_card');

  result = `<tr id="tr_selected_${f[0].ts_key}" name="tr_selected_${f[0].ts_key}">
        <td class="text-center">
          ${f[0].prod_group}
          <input type="hidden" name="prod_group${f[0].prod_group}" value="${f[0].prod_group}" >
        </td>
        <td class="text-center">
          ${f[0].article_number}
          <input type="hidden" name="article_number_${f[0].ts_key}" value="${f[0].article_number}">
        </td>
        <td class="text-center">
          ${f[0].description}
          <input type="hidden" name="description" value="${f[0].description}">
        </td>
        <td class="text-center">
          ${f[0].subinventory}
          <input type="hidden" name="subinventory" value="${f[0].subinventory}">
        </td>
        <td class="text-center">
          ${subinventory_dl}
        </td>
        <td class="text-center">
          ${input_qty_svc}
          <input type="hidden" name="input_qty_svc_${f[0].ts_key}" value="${input_qty_svc}">
        </td>
        <td>
          <input type="button" value="Delete"  onClick="DeleteTr(this.id);" class="btn btn-fill btn-primary" id="parts_input_${f[0].ts_key}" name="parts_input_${f[0].ts_key}">  
        </td>
        </tr>`;
  table_ap.innerHTML += result;

 
  
  //part 부분끝 
}
//addpart 끝


//////////////////////// 옵저빙 arae ////////////////////////////////

///////////////////////////////////////////////////////////////////
//////////////////////// parts 옵저빙 ////////////////////////////////
///////////////////////////////////////////////////////////////////
  // 옵저빙
// 1. 주기적으로 감지할 대상 요소 선정
const target = document.getElementById('service_stock');
 
// 2. 옵저버 콜백 생성
// const callback = (mutationList, observer) => {
//   alert('콜백시작');
//   console.log(mutationList)
//   // pagingTable();
// };
const observer = new MutationObserver( function( mutations ){
    mutations.forEach( function( mutation ){
        // Was it the style attribute that changed? (Maybe a classname or other attribute change could do this too? You might want to remove the attribute condition) Is display set to 'none'?
        if( mutation.attributeName === 'style' && window.getComputedStyle( target ).getPropertyValue( 'display' ) === 'block'
          ){
            changed_id = mutation.target.id;
            if (changed_id == 'service_stock' ) {
              renderTable_Part(query_services);
            }
        }
    } );
} );
 
// 3. 옵저버 인스턴스 생성
// const observer = new MutationObserver(callback); // 타겟에 변화가 일어나면 콜백함수를 실행하게 된다.
 
// 4. DOM의 어떤 부분을 감시할지를 옵션 설정
const config = { 
    attributes: true, // 속성 변화 할때 감지
    // childList: true, // 자식노드 추가/제거 감지
    // characterData: true // 데이터 변경전 내용 기록
};
 
// 5. 감지 시작
observer.observe( target, { attributes: true } );


///////////////////////////////////////////////////////////////////
/////////////////////////////// IR ORDER옵저빙 //////////////////////
const ir_target = document.getElementById('ir_order');
const ir_observer = new MutationObserver( function( mutations ){
    mutations.forEach( function( mutation ){
        // Was it the style attribute that changed? (Maybe a classname or other attribute change could do this too? You might want to remove the attribute condition) Is display set to 'none'?
        if( mutation.attributeName === 'style' && window.getComputedStyle( ir_target ).getPropertyValue( 'display' ) === 'block'
          ){
            changed_id = mutation.target.id;
            if (changed_id == 'ir_order' ) {
              renderTable_Irs(query_irs);
            }
        }
    } );
} );
const ir_config = { 
    attributes: true, // 속성 변화 할때 감지
};
 
// 5. 감지 시작
ir_observer.observe( ir_target, { attributes: true } );
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////

    // sort
  document.addEventListener('DOMContentLoaded', init, false);

  let data_service, table, table_ir, sortCol;
  let sortAsc = false;
  const pageSize = 15;
  let curPage = 1;

  async function init() {
    
    // Select the table (well, tbody)
    table = document.querySelector('#service_parts_table tbody');
    table_ir = document.querySelector('#ir_order_table tbody');
    // get the cats
    
    // renderTable_Part();
    
    // listen for sort clicks
    document.querySelectorAll('#service_parts_table thead tr th').forEach(t => {
      t.addEventListener('click', sort, false);
    });
    
    document.querySelector('#nextButton').addEventListener('click', nextPage, false);
    document.querySelector('#prevButton').addEventListener('click', previousPage, false);

    //ir_order
    document.querySelector('#nextButtonIR').addEventListener('click', nextPageIR, false);
    document.querySelector('#prevButtonIR').addEventListener('click', previousPageIR, false);
  }

  function renderTable_Irs(get_json_db) {
        // db데이터받기
    var jons_irs = JSON.parse('{{ json_irs|safe }}');
    if (get_json_db == null) {
      get_json_db = jons_irs
    };

    var ss_card_ir = document.getElementById('ir_order_card');
    ss_card_ir.innerHTML = 'MY IR ORDERS' + ' 재고 기준 날짜 : '+ std_day

    // create html
    let result_ir = '';
    get_json_db.filter((row, index) => {
          let start = (curPage-1)*pageSize;
          let end =curPage*pageSize;
          if(index >= start && index < end) return true;
    }).forEach((c,idx) => {
//  
        result_ir += `<tr id="tr_ir_${c.ir_index}">
        <td class="text-center">${c.order_nm}</td>
        <td class="text-center">${c.article_number}</td>
        <td class="text-center">${c.description}</td>
        <td class="text-center">${c.subinventory}</td>
        <td class="text-center">
          <input type="number" value="${c.quantity}" min="0" max="${c.quantity}" class="form-control input-sm" id="parts_qty_ir_${c.ir_index}" name="parts_qty_ir_${c.ir_index}">  
        </td>
        <td class="text-center">${c.state}</td>
        <td>
          <input type="button" value="Select"  onClick="addIRPart(this.id);" class="btn btn-fill btn-primary" id="parts_input_ir_${c.ir_index}" name="parts_input_ir_${c.ir_index}">  
        </td>
        </tr>`;
    });
    table_ir.innerHTML = result_ir;
  }
  
  function renderTable_Part(get_json_db) {
        // db데이터받기
    var data_ts = '{{ data_ts|safe }}';
    var jons_ts = JSON.parse(data_ts)
    if (get_json_db == null) {
      get_json_db = jons_ts
    };

    var ss_card = document.getElementById('service_stock_card');
    ss_card.innerHTML = 'SERVICE STOCK' + ' 재고 기준 날짜 : '+ std_day

    // create html
    let result = '';
    get_json_db.filter((row, index) => {
          let start = (curPage-1)*pageSize;
          let end =curPage*pageSize;
          if(index >= start && index < end) return true;
    }).forEach((c,idx) => {
//  
        result += `<tr id="tr_${c.ts_key}">
        <td class="text-center">${c.prod_group}</td>
        <td class="text-center">${c.article_number}</td>
        <td class="text-center">${c.description}</td>
        <td class="text-center">${c.subinventory}</td>
        <td class="text-center">
          <input type="number" value="${c.quantity}" min="0" max="${c.quantity}" class="form-control input-sm" id="parts_qty_${c.ts_key}" name="parts_qty_${c.ts_key}">  
        </td>
        <td>
          <input type="button" value="Select"  onClick="addPart(this.id);" class="btn btn-fill btn-primary" id="parts_input_${c.ts_key}" name="parts_input_${c.ts_key}">  
        </td>
        </tr>`;
    });
    table.innerHTML = result;
  }

  function sort(e) {
    let thisSort = e.target.dataset.sort;
    if(sortCol === thisSort) sortAsc = !sortAsc;
    sortCol = thisSort;
    // console.log('sort dir is ', sortAsc);
    JSON.parse(hidden_div.innerHTML).sort((a, b) => {
      if(a[sortCol] < b[sortCol]) return sortAsc?1:-1;
      if(a[sortCol] > b[sortCol]) return sortAsc?-1:1;
      return 0;

    });
    renderTable_Part(JSON.parse(hidden_div.innerHTML));
  }

  function previousPage() {
    if(curPage > 1) curPage--;
    renderTable_Part(JSON.parse(hidden_div.innerHTML));
  }

  function nextPage() {
    if((curPage * pageSize) < JSON.parse(hidden_div.innerHTML).length) curPage++;
    renderTable_Part(JSON.parse(hidden_div.innerHTML));
  }

  function previousPageIR() {
    if(curPage > 1) curPage--;
    renderTable_Irs(JSON.parse(ir_hidden_div.innerHTML));
  }

  function nextPageIR() {
    if((curPage * pageSize) < JSON.parse(ir_hidden_div.innerHTML).length) curPage++;
    renderTable_Irs(JSON.parse(ir_hidden_div.innerHTML));
  }



// Delete 선택항목삭제
function DeleteTr(td_id){
    // 삭제 
    var split_count = td_id.split('_').length - 1;

    if (split_count == 2) {
      var id_num = td_id.split("_")[2];
      var sel_tr_id = "tr_selected_" + id_num;
      selected_list = selected_list.filter((element) => element !== parseInt(id_num));
    } else if (td_id.includes('ir') == true){
      var id_num = td_id.split("_")[3];
      var sel_tr_id = "tr_selected_ir_" + id_num;
      selected_list_ir = selected_list_ir.filter((element) => element !== parseInt(id_num));
    }

    var selected_tr = document.getElementById(sel_tr_id);
    selected_tr.remove();
    
	}
</script>
{% endblock javascripts %}
