{% extends "layouts/base.html" %}

{% block title %} CASE DETAIL {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% for req in req_detail %}
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="title">CASE ID : {{ req.svc_key }}</h3>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-2 pr-md-1">
                  <div class="form-group">
                    <label>NAME</label>
                    <input type="text" class="form-control" placeholder="NAME" value="{{ req.fe_name }}" readonly>
                  </div>
                </div>
                <div class="col-md-2 px-md-1">
                  <div class="form-group">
                    <label>FE TRUNKSTOCK</label>
                    <input type="text" class="form-control" placeholder="FE TRUNKSTOCK" value="{{ req.fe_initial}}" readonly>
                  </div>
                </div>
                <div class="col-md-2 pl-md-1">
                  <div class="form-group">
                    <label>REQUEST DAY</label>
                    <input type="text" class="form-control" value="{{ req.req_day }} {{req.req_time}}" readonly>
                  </div>
                </div>
                <div class="col-md-2 pl-md-1">
                    <div class="form-group">
                      <label>IS RETURN</label>
                      <input type="text" class="form-control" placeholder="None" value="{{ req.is_return }}" readonly>
                    </div>
                  </div>
                  <div class="col-md-2 pl-md-1">
                    <div class="form-group">
                      <label>IS URGENT</label>
                      <input type="text" class="form-control" placeholder="None" value="{{ req.is_urgent }}" readonly>
                    </div>
                  </div>
                  <div class="col-md-2 pl-md-1">
                    <div class="form-group">
                      <label>STATE</label>
                      <input type="text" class="form-control" placeholder="None" value="{{ req.state }}" readonly>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>ADDRESS</label>
                    <input type="text" class="form-control" placeholder="None" value="{{ req.address }}" readonly>
                  </div>
                </div>
                <div class="col-md-2 pl-md-1">
                    <div class="form-group">
                      <label>Contact Number</label>
                      <input type="text" class="form-control" placeholder="None" value="{{ req.contact }}" readonly>
                    </div>
                </div>
                <div class="col-md-2 pl-md-1">
                    <div class="form-group">
                        <label>Sub Contact Number</label>
                        <input type="text" class="form-control" placeholder="None" value="{{ req.contact_sub }}" readonly>
                    </div>
                </div>
                <div class="col-md-2 pl-md-1">
                    <div class="form-group">
                        <label>DEILVERY METHOD</label>
                        <input type="text" class="form-control" placeholder="None" value="{{ req.del_met }}" readonly>
                    </div>
                </div>
                <div class="col-md-2 pl-md-1">
                    <div class="form-group">
                        <label>RECIPIENT</label>
                        <input type="text" class="form-control" placeholder="None" value="{{ req.recipient }}" readonly>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 pr-md-1">
                    <div class="form-group form-group-lg">
                      <label>DEILVERY INSTRUCTION</label>
                      <input type="text" class="form-control" placeholder="None" value="{{ req.del_instruction }}" readonly>
                    </div>
                </div>
              </div> 
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-fill btn-primary">Change Request</button>
              </div>
              <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                          <div class="card-header">
                            <h4 class="card-title" id="add_part_card"><b>PARTS DETAIL</b></h4>
                          </div>
                          <div class="card-body">
                            <div class="table">
                              <table class="table tablesorter " id="add_part_table">
                                <thead class=" text-primary">
                                  <tr>
                                    <th class="text-center">
                                        ARTICLE NUMBER
                                    </th>
                                    <th class="text-center">
                                      SERIAL NUMBER / IR_ORDER
                                    </th>
                                    <th class="text-center">
                                      QUANTITY
                                    </th>
                                    <th class="text-center">
                                      FROM STOCK
                                    </th>
                                    <th class="text-center">
                                      TO STOCK
                                    </th>
                                    <th class="text-center">
                                      BIN
                                    </th>
                                  </tr>
                                </thead>
                                <tbody id="add_part_tb">
                                    {% for dict in dict_parts %}
                                    <tr>
                                    {% for key,value in dict.items %}
                                    <td class="text-center">{{ value }}</td>
                                    {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div> 
                </div>
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}
    {% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}