{% extends "layouts/base.html" %}

{% block title %} User Profile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="title">Edit Profile</h3>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-5 pr-md-1">
                  <div class="form-group">
                    <label>USER ID</label>
                    <input type="text" class="form-control" placeholder="USER_ID" value="{{ forms.username }}" readonly>
                  </div>
                </div>
                <div class="col-md-3 px-md-1">
                  <div class="form-group">
                    <label>SUBINVENTORY</label>
                    <input type="text" class="form-control" placeholder="SUBINVENTORY" value="{{ forms.userdetail.subinventory}}" readonly>
                  </div>
                </div>
                <div class="col-md-4 pl-md-1">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" value="{{ forms.email }}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 pr-md-1">
                  <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="Company" value="{{ forms.first_name }}">
                  </div>
                </div>
                <div class="col-md-6 pl-md-1">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" value="{{ forms.last_name }}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" placeholder="Address" value="{{ forms.userdetail.address }}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 pr-md-1">
                  <div class="form-group">
                    <label>Contact Number</label>
                    <input type="text" class="form-control" placeholder="010-1111-1234" value="{{ forms.userdetail.contact_number_1 }}">
                  </div>
                </div>
                <div class="col-md-4 px-md-1">
                  <div class="form-group">
                    <label>Sub Contact Number</label>
                    <input type="text" class="form-control" placeholder="010-1234-1234" value="{{ forms.userdetail.contact_number_2 }}">
                  </div>
                </div>
                <div class="col-md-4 pl-md-1">
                  <div class="form-group">
                    <label>POST CODE</label>
                    <input type="text" class="form-control" placeholder="postcode" value="{{ forms.userdetail.postcode }}">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-fill btn-primary">Save</button>
            <a type="button" href="{% url 'authentication:my_stock' subinventory=forms.userdetail.subinventory %}" class="btn btn-fill btn-primary" id="a_mystock" name="a_mystock">MY TrunckStock</a>
          </div>
        </div>
      </div>
    
    </div>

    <!-- myrequest list -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card card-tasks">
            <div class="card-header">
              <h6 class="title d-inline">MY REQUESTS</h6>
              <div class="dropdown">
                  <button type="button" class="btn btn-link dropdown-toggle btn-icon"
                          data-toggle="dropdown">
                      <i class="tim-icons icon-settings-gear-63"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                      <form>
                      <button type="submit" class="dropdown-item" name="request_type" value="all">ALL</button>  
                      <button type="submit" class="dropdown-item" name="request_type" value="requested">REQUESTED</button>
                      <button type="submit" class="dropdown-item" name="request_type" value="pick/pack">PICK/PACK</button>
                      <button type="submit" class="dropdown-item" name="request_type" value="dispatched">DISPATCHED</button>
                      <button type="submit" class="dropdown-item" name="request_type" value="complete">COMPLETE</button>
                      </form>
                  </div>
              </div>
            </div>
              <div class="card-body">
                <div class="table-full-width table-responsive">
                  <table class="table tablesorter " id="my_request" name="my_request">
                    <thead class=" text-primary">
                      <tr>
                        <th class="text-center">
                          Order ID
                        </th>
                        <th class="text-center">
                          Request Type
                        </th>
                        <th class="text-center">
                          Request Date
                        </th>
                        <th class="text-center">
                          Address
                        </th>
                        <th class="text-center">
                          Status
                        </th>
                        <th class="text-center">
                          Details
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for req in my_requests %}
                      <tr>
                        <td>
                          {{ req.svc_key }}
                        </td>
                        <td class="text-center">
                          {{ req.del_met }}
                        </td>
                        <td class="text-center">
                          {{ req.req_day }} {{ req.req_time }}
                        </td>
                        <td>
                          {{ req.address }}
                        </td>
                        <td class="text-center">
                          {{ req.state }}
                        </td>
                        <td class="text-center">
                          <a type="button" href="{% url 'authentication:case_detail' case_id=req.svc_key %}" class="btn btn-fill btn-primary" id="{{ req.svc_key }}" name="{{ req.svc_key }}">See Detail</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- table body -->
              </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
